$cookie_link:#005ca2;

.cookie {
	position: relative;
	width: 100%;
	padding: 13px;
	font-size: 13px;line-height: 24px;
	background-color: #f5f5f5;
	z-index: 999999999;
	display: none;
	.container{
		width: 100%;
    max-width: 1260px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
		@include width_pad{
			flex-direction: column;
		}
		span{
			display: inline-block;
			&.know{
				display: inline-block;
				text-decoration: underline;
				color: $cookie_link;
				cursor: pointer;
				width: 4rem;
				text-align: right;
			}
			@include width_pad{
				display: block;
				&.know{margin-left: auto;}
			}
		}
	}
	
}