/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html *{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
	font-family: $font_family;
}



// 依照各個尺寸做些微大小---------------------------
//html{font-size: 50px;}
//@media screen and (max-width: 1500px) {
//	html{font-size: 49px;}
//}
//@media screen and (max-width: 1200px) {
//	html{font-size: 48px;}
//}
//@media screen and (max-width: 900px) {
//	html{font-size: 46px;}
//}
//@media screen and (max-width: 768px) {
//	html{font-size: 54px;}
//}
//@media screen and (max-width: 520px) {
//	html{font-size: 51px;}
//}
//@media screen and (max-width: 320px) {
//	html{font-size: 50px;}
//}


img{width: 100%;display: block;}

.wrapper{
	overflow-x: hidden;
	min-width: 310px;
}

$container_width:1000px;
$padding_width:20px;

	
	.container{
		width: 100%;
		max-width: $container_width + $padding_width*2;
		margin: 0 auto;
		padding: 0 $padding_width;
			@include width_mobile{
				padding: 0 15px 0 15px;
		}
	}	

	// .container{
	// 	box-shadow: 0px 0px 0px 1px #666666 inset;
	// }

// 各種字 ---------------------
span.inblock{
	display: inline-block;
}







