<!DOCTYPE html>
<html lang="Zh-Hant-TW">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">


	<title>Yen</title>

	<!-- FB 社群圖片 -->
	<meta property="og:image" content="https://www.microsoft.com/taiwan/promo/office-365-business/img/fb.jpg" />
	<link rel="image_src" href="https://www.microsoft.com/taiwan/promo/office-365-business/img/fb.jpg" />
	<!-- 頁籤 icon -->
	<!-- <link href="https://www.microsoft.com/taiwan/surface/images/favicon.ico" rel="shortcut icon" />
	<link href="https://www.microsoft.com/taiwan/surface/images/favicon.ico" rel="icon" type="image/x-icon" />
	<link href="https://www.microsoft.com/taiwan/surface/images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
	<link href="https://www.microsoft.com/taiwan/surface/images/favicon.ico" rel="icon" type="image/vnd.microsoft.icon" /> -->

	<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
	<link rel="stylesheet" type="text/css" href="css/all.css">

	
	<!--[if lt IE 9]>
	<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>



<body>

	
	<div class="wrapper" id="app">
		<!-- section 01 
			------------------------------------------>
			<div class="leftArea">
				<div class="logo">
					<img src="img/yenz.png" alt="">
				</div>
				<ul class="list">
					<li @click="clickList(1)" :class="menuAry[0]">ABOUT</li>
					<li @click="clickList(2)" :class="menuAry[1]">SKILL</li>
					<li @click="clickList(3)" :class="menuAry[2]">HOBBY</li>
					<li @click="clickList(4)" :class="menuAry[3]">CREATION</li>
				</ul>
			</div>
			
			<div class="board" :class="boardClass">
				<div class="content">
					<div class="section" data-sec="about" :data-state="menuAry[0]">
						<div class="group">
							<h2>About</h2>
							<div class="block">
								<div class="row"></div>
								<div class="photo">
									<img src="img/me.jpeg" alt="">
								</div>
								<p>沈姸孜 &nbsp; Yen-tzu Shen</p>
							</div>
							<div class="block">
								<p>Tel : 0955761622</p>
								<p>Mail : dianna0904@gmail.com</p>
								<p>Birthday : 1993 / 09 / 04</p>
							</div>
						</div>
						<div class="group" id="experience"> 
							<h2>Experience</h2>
							<div class="block">
								<div class="row">
									<div class="col img">
										<img src="img/summersLogo.jpg" alt="">
									</div>
									<div class="col">
										<p><b>夏天廣告公司</b> - 網頁切版師</p>
										<p class="time">2018 / 11 - 2021 / 05</p>
									</div>
									<div class="col full"> 
										<ul>
											<li>與設計、PM 討論網頁架構</li>
											<li>將設計提供的 psd 檔切成網頁與 eDM</li>
											<li>協助網頁圖片修圖</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="block">
								<div class="row">
									<div class="col img">
										<img src="https://www.ddm.org.tw/files/file_pool/1/0k198563650703266658/logo.png" alt="">
									</div> 
									<div class="col">
										<p><b>法鼓山</b> - 網站後台操作</p>
										<p class="time">2017/07 - 2018/06</p>
									</div>
									<div class="col full">
										<ul>
											<li>協助上架官網資訊</li>
											<li>製作節慶一頁式網頁</li>
											<li>協助網頁圖片修圖</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="block">
								<div class="row">
									<div class="col img">
										<img src="https://www.satana.com.tw/images/logo.png" alt="">
									</div>
									<div class="col">
										<p><b>聯野有限公司</b></p>
										<p class="time">2016/09 - 2017/04</p>
										<p>行政助理</p>
									</div>
									<div class="col full">
										<ul>
											<li>客服窗口</li>
											<li>每日各項報表製作</li>
											<li>協助官網商品上架</li>
											<li>製作產品圖片與產品說明</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						
					</div>	
					<div class="section" data-sec="skill" :data-state="menuAry[1]" >
						<div class="group">
							<h2>Skill</h2>
							<div class="block">
								<ul>
									<li><span>HTML / SCSS / JS / RWD 一頁式網頁切版</span> <a href="http://demo.summersjr.com/up/yen/english/default.htm" target="_blank">demo</a></li>
									<li><span>JQuery 套件應用</span> <a href="http://demo.summersjr.com/up/yen/xlta/" target="_blank">demo</a></li>
									<li><span>TweenMax 打造動態網頁</span> <a href="http://demo.summersjr.com/up/yen/summers/copywritings/" target="_blank">demo</a></li>
									<li><span>eDM 切版</span> <a href="https://demo.summersjr.com/up/yen/microsoft_edm/2021/210204_envision/210204_envision-pv.html" target="_blank">demo</a></li>
									<li><span>了解網頁 SEO 優化的 html 結構</span></li>
									<li><span>運用 GA、GTM 的埋入達到網頁的追蹤</span></li>
									<li><span>使用 Vue.js 與 axios 來串接 API </span><a href="#" target="_blank">練習中</a></li>
									<li><span>網域、網址購買</span></li>
									<li><span>PhotoShop 切版、修圖</span></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="section" data-sec="hobby" :data-state="menuAry[2]">
						<div class="group">
							<h2>Hobby</h2>
							<div class="block">
								<h3>photography</h3>
								<div class="box">
									<div class="swiper listSwiper" >
										<!-- Additional required wrapper -->
										<div class="swiper-wrapper">
											<!-- Slides -->
											<div class="swiper-slide" v-for="item in photoList">
												<img :src="`./img/photography/${item.photo}`" alt="">
												<p><span class="time">{{item.time}} </span> <span class="title">{{item.title}}</span> <span class="more" @click="setPhotoId(item.id,item.num)">more</span></p>
											</div>
										</div>
										<div class="swiper-button-prev"></div>
										<div class="swiper-button-next"></div>
									</div>
								</div>
							</div>
							<div class="block">
								<h3>outdoor</h3>
								<div class="box">
									<div class="swiper listSwiper">
										<!-- Additional required wrapper -->
										<div class="swiper-wrapper">
											<!-- Slides -->
											<div class="swiper-slide" v-for="item in outdoorList">
												<img :src="`./img/photography/${item.photo}`" alt="">
												<p><span class="time">{{item.time}} </span> <span class="title">{{item.title}}</span> 
													<!-- <span class="more">more</span> -->
													</p>
											</div>
										</div>
										<div class="swiper-button-prev"></div>
										<div class="swiper-button-next"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="group" :class="{open:nowSlideType}" data-type="content">
							<span class="back" @click="closeSlideContent">back</span>
							<div class="swiper contentSwiper">
								<!-- Additional required wrapper -->
								<div class="swiper-wrapper">
									<!-- Slides -->
									<div class="swiper-slide" v-for="n in nowSlideNum">
										<img :src="`./img/photography/${nowSlideId}/${n}.jpg`" alt="">
									</div>
								</div>
								<div class="swiper-button-prev"></div>
								<div class="swiper-button-next"></div>
							</div>
						</div>
					</div>
					<div class="section" data-sec="creation" :data-state="menuAry[3]">
						<div class="group">
							<h2>Creation</h2>
							<h3>網頁切版</h3>
							<hr>
							<div class="row row1">
								<div class="col" v-for="item in creationList">
									<img :src="`img/creation/${item.img}`" alt="">
									<a :href="item.link" target="_blank"><span>{{item.name}}</span></a>
								</div>
							</div>

							<!-- <div class="row row2">
								<a href="http://demo.summersjr.com/up/yen/draw/" target="_blank" class="col">
									<p>愛畫畫</p>
								</a>
								<a href="http://demo.summersjr.com/up/yen/xlta/" target="_blank" class="col">
									<p>Xlta</p>
								</a>
								<a href="http://demo.summersjr.com/up/yen/english/default.htm" target="_blank" class="col">
									<p>擎宇英文</p>
								</a>
								<a href="http://demo.summersjr.com/up/yen/nccu/member/" target="_blank" class="col">
									<p>AI 商學院 - 課程</p>
								</a>
								<a href="http://demo.summersjr.com/up/yen/microsoft/nccu/AIBS/invitation/vip.htm?vip=wahlee" target="_blank" class="col">
									<p>AI 商學院 - VIP</p>
								</a>
								<a href="http://demo.summersjr.com/up/yen/summers/copywritings/" target="_blank" class="col">
									<p>夏天廣告文案頁</p>
								</a>
								<a href="http://demo.summersjr.com/up/yen/microsoft/outlook/" target="_blank" class="col">
									<p>microsoft outlook apps</p>
								</a>
								<a href="http://demo.summersjr.com/up/yen/microsoft/190305keymouse/" target="_blank" class="col">
									<p>微軟時尚滑鼠</p>
								</a>
								<a href="http://demo.summersjr.com/up/yen/microsoft/190128eos_v2/181121eos/shift/" target="_blank" class="col">
									<p>microsoft windows 10 終止支援</p>
								</a>
							</div> -->
						</div>
					</div>
				</div>
			</div>

	</div>

	<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.2/vue.global.js"></script>
	<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>

</html>