<!DOCTYPE html>
<html lang="Zh-Hant-TW">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">


	<title>Yen</title>

	<!-- FB 社群圖片 -->
	<!-- <meta property="og:image" content="https://www.microsoft.com/taiwan/promo/office-365-business/img/fb.jpg" />
	<link rel="image_src" href="https://www.microsoft.com/taiwan/promo/office-365-business/img/fb.jpg" /> -->
	<!-- 頁籤 icon -->
	<link href="img/iconYpng.ico" rel="shortcut icon" />
	<link href="img/iconYpng.ico" rel="icon" type="image/x-icon" />

	<!-- <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" /> -->
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/all.css">

	
	<!--[if lt IE 9]>
	<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>



<body>

	<div class="wrapper" id="app">
		<div class="webBlock">
			<span></span><span></span><span></span><span></span>
			<div class="cat" v-if="cat" :style="`top:${mouseData.nowY + 20}px;left:${mouseData.nowX + 20}px`"></div>
		</div>
		<main>
			<section class="sec01" >
				<div class="container" >
					<div class="content">
						<div class="group">
							<div class="left">
								<h1 :style="`transform:translate(${ (mouseData.nowX - mouseData.winW/2) *-20 / mouseData.winW }px,${ (mouseData.nowY - mouseData.winH/2) *-20 / mouseData.winH }px)`">Hello</h1>
								<div class="photo" :style="`transform:translate(${ (mouseData.nowX - mouseData.winW/2) *-50 / mouseData.winW }px,${ (mouseData.nowY - mouseData.winH/2) *-50 / mouseData.winH }px)`">
									<img src="img/yen01.png" alt="">
									<div class="squre" :style="`transform:translate(${ (mouseData.nowX - mouseData.winW/2) *-40 / mouseData.winW }px,${ (mouseData.nowY - mouseData.winH/2) *-40 / mouseData.winH }px)`" @click="clickSqure"></div>
								</div>
							</div>
							<div class="info" :style="`transform:translate(${ (mouseData.nowX - mouseData.winW/2) *-25 / mouseData.winW }px,${ (mouseData.nowY - mouseData.winH/2) *-25 / mouseData.winH }px)`">
								<p>沈姸孜 Yen  &nbsp;/ 1993.09.04</p>
								<p>TEL<br>0955761722</p>
								<p>MAIL<br>dianna0904@gmail.com</p>
							</div>
						</div>
					</div>
					
				</div>
			</section>
			<section class="sec-p-group">
				<div class="container">
					<div class="p-group">
						<p>我叫沈妍孜，是位個性積極主動、樂於學習新技術、精進自己能力的開發者。</p>
						<p>在工作態度上，處事隨和、熱愛挑戰，追求完滿，對於所執行的專案，會用負責任的態度完成。</p>
						<p>在生活態度上，對於自己喜愛的事物加以專注學習，</p>
						<p>因樂於學習新事物，於平日空餘時間會在網路上透過網路教學平台與 youtube 自主學習，目前透過六角學院來學習 Vue.js 以及打好 javascript 的基礎。</p>
						<p>面對未來生涯規劃，我渴望有多一點機會去嘗試，獲得更多元化的實務經驗，抱持著積極、努力學習的態度。我勇於挑戰不怕失敗，任何職務都秉持積極負責的態度，全力以赴，「沒有最好、只有更好」。</p>
					</div>
				</div>
			</section>
			<section class="sec-experience">
				<div class="container">
					<h2>EXPERIENCE <span></span></h2>
					<div class="block exp-01">
						<div class="dec-line"></div>
						<span class="time">2022 / 02 - Now </span>
						<h3>思偉達創新科技股份有限公司 - 軟體工程師</h3>
						<ul>
							<li>與設計師合作討論 UI / UX，並做出網頁介面</li>
							<li>與後端工程師合作串接 API，並整理資料</li>
							<li>與專案設計師、產品經理、技術人員溝通與討論網頁架構</li>
							<li>使用 Git 作版本控制</li>
							<li>使用 Vue 與 Vuetify 開發網站</li>
						</ul>
						<p><b>接觸過的專案：</b></p>
						<p><a href="https://www.jcard.io/tw" target="_blank">亞洲 NFT 交易平台 Jcard </a>、<a href="https://bcaservice.io/tw" target="_blank">BCA 區塊鏈智能合約檢測服務 </a></p>
						<p></p>
					</div>

					<div class="block exp-02">
						<div class="dec-line"></div>
						<span class="time">2018 / 11 - 2021 / 05  </span>
						<h3>夏天廣告公司 - 網頁切版師</h3>
						<ul>
							<li>與專案設計師、PM 溝通與討論網頁架構</li>
							<li>將設計提供的 psd 檔建置成 RWD 網頁與 eDM，並符合 SEO 優化</li>
							<li>與 AE 研究 google analytics 與 gtag 的埋入與廣告成效</li>
							<li>維護客戶的網站</li>
							<li>協助網頁圖片的修圖</li>
							<li>大型網站後台操作（例如：趨勢內部作業系統、wordpress 操作）</li>
						</ul>
					</div>
					
				</div>
			</section>
			<section class="sec-learn">
				<div class="container">
					<h2>LEARNING <span></span></h2>
					<p>下班時間透過線上教學平台來增進自己的前端能力<br>（Hahow、六角學院、LeetCode）</p>
						<p>也因公司性質與 NFT 相關，對於智能合約內容也有所好奇，<br><b>期許能透過此次課程能更了解智能合約的內容。</b></p>
				</div>
			</section>
			<section class="sec-education">
				<div class="container">
					<h2>Education <span></span></h2>
					<p>亞東技術學院 - 資訊管理系</p>
					<p>復興商工 - 資料處理科</p>
					
				</div>
			</section>
			<!-- <section class="sec02">
				<div class="container">
					<h2>SKILL</h2>
					<div class="content">
						<div class="group" data-order='1' data-aos="fade-down-right">
							<h3>響應式網站製作</h3>
							<ul>
								<li>追求在每個尺寸的畫面都能完美呈現 
									（運用 HTML5 / CSS(SCSS) / JavaScript(ES6) / JQuery）。</li>
								<li>打造動態網頁
									（運用 JavaScript、TweenMax、JS 套件，如：輪播工具…）。</li>
								<li>能夠運用 Vue.js 與 axios 套件來串接 API。</li>
								<li>運用 table 標籤來製作網頁 eDM。</li>
							</ul>
						</div>
						<div class="group" data-order='2' data-aos="fade-up-left">
							<h3>配合行銷方面</h3>
							<ul>
								<li>具備 Google Analytics 知識，了解如何透過 Google Tag Manager 
									來抓取使用者行為。</li>
								<li>了解網頁 SEO 優化的 html 結構與 meta 標籤。</li>
							</ul>
						</div>
						<div class="group" data-order='3' data-aos="fade-up">
							<h3>其他</h3>
							<ul>
								<li>熟悉使用 PhotoShop 與 Figma 進行網頁切版。</li>
								<li>具備良好溝通協調能力，能與專案設計師等相關人員協同執行專案。</li>
							</ul>
						</div>
					</div>
				</div>
			</section> -->
			<!-- <section class="sec03">
				<div class="container" data-aos="flip-left">
					<h2>CREATION<span></span></h2>
					<div class="box" >
						<div class="row">
							<div class="photo">
								<div class="img">
									<img :src="`img/creation/${nowCreation[0].img}`" alt="">
								</div>
							</div>
							<div class="info">
								<h3>{{nowCreation[0].name}}</h3>
								<ul>
									<li v-for="(item,index) in nowCreation[0].detail" ::key="index">{{item}}</li>
								</ul>
								<p class="designer">設計師：{{nowCreation[0].designer}}</p>
								<div class="tags">
									<span v-for="(item,index) in nowCreation[0].tags" ::key="index">{{item}}</span>
								</div>
								<a :href="nowCreation[0].link" target="_blank" class="link">Web Link >>></a>
							</div>
						</div>
					</div>
					<ul class="creationList" >
						<li v-for="(item,index) in creationList" ::key="index" :data-num="index+1" @click="clickCreationList(index)" :class="item.select == 'true' ? 'select':''" >{{item.name}}</li>
					</ul>
				</div>
			</section> -->
			<section class="sec04">
				<div class="container">
					<h2>HOBBY <span></span></h2>
					<p>Photography <br>&<br> outdoor<br><br>
						<a href="https://vsco.co/yenzzzzzz/gallery" target="_blank"> >>> </a><br><br><br>
						&<br> CAT </p>

				</div>
			</section>
			<footer>
				<p>ヽ(=^ Φ ω Φ ^=)丿</p>

			</footer>
		</main>

	</div>

	<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.2/vue.global.js"></script> -->
	<!-- <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script> -->
	
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script> -->
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script type="module" src="js/main.js"></script>
</body>

</html>