<!DOCTYPE html>
<html lang="Zh-Hant-TW">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">


	<title>Yen</title>

	<!-- FB 社群圖片 -->
	<!-- <meta property="og:image" content="https://www.microsoft.com/taiwan/promo/office-365-business/img/fb.jpg" />
	<link rel="image_src" href="https://www.microsoft.com/taiwan/promo/office-365-business/img/fb.jpg" /> -->
	<!-- 頁籤 icon -->
	<link href="img/iconYpng.ico" rel="shortcut icon" />
	<link href="img/iconYpng.ico" rel="icon" type="image/x-icon" />

	<!-- <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" /> -->
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/all.css">

	
	<!--[if lt IE 9]>
	<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>



<body>

	<div class="wrapper" id="app">
		<div class="webBlock">
			<span></span><span></span><span></span><span></span>
			<div class="cat" v-if="cat" :style="`top:${mouseData.nowY + 20}px;left:${mouseData.nowX + 20}px`"></div>
		</div>
		<main>
			<section class="sec01" >
				<div class="container" >
					<div class="content">
						<div class="group">
							<div class="left">
								<h1 :style="`transform:translate(${ (mouseData.nowX - mouseData.winW/2) *-20 / mouseData.winW }px,${ (mouseData.nowY - mouseData.winH/2) *-20 / mouseData.winH }px)`">Hello</h1>
								<div class="photo" :style="`transform:translate(${ (mouseData.nowX - mouseData.winW/2) *-50 / mouseData.winW }px,${ (mouseData.nowY - mouseData.winH/2) *-50 / mouseData.winH }px)`">
									<img src="img/yen01.png" alt="">
									<div class="squre" :style="`transform:translate(${ (mouseData.nowX - mouseData.winW/2) *-40 / mouseData.winW }px,${ (mouseData.nowY - mouseData.winH/2) *-40 / mouseData.winH }px)`" @click="clickSqure"></div>
								</div>
							</div>
							<div class="info" :style="`transform:translate(${ (mouseData.nowX - mouseData.winW/2) *-25 / mouseData.winW }px,${ (mouseData.nowY - mouseData.winH/2) *-25 / mouseData.winH }px)`">
								<p>沈姸孜 Yen  &nbsp;/ 1993.09.04</p>
								<p>TEL<br>0955761722</p>
								<p>MAIL<br>dianna0904@gmail.com</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="sec02">
				<div class="container">
					<h2>SKILL</h2>
					<div class="content">
						<div class="group" data-order='1' data-aos="fade-down-right">
							<h3>響應式網站製作</h3>
							<ul>
								<li>追求在每個尺寸的畫面都能完美呈現 
									（運用 HTML5 / CSS(SCSS) / JavaScript(ES6) / JQuery）。</li>
								<li>打造動態網頁
									（運用 JavaScript、TweenMax、JS 套件，如：輪播工具…）。</li>
								<li>能夠運用 Vue.js 與 axios 套件來串接 API。</li>
								<li>運用 table 標籤來製作網頁 eDM。</li>
							</ul>
						</div>
						<div class="group" data-order='2' data-aos="fade-up-left">
							<h3>配合行銷方面</h3>
							<ul>
								<li>具備 Google Analytics 知識，了解如何透過 Google Tag Manager 
									來抓取使用者行為。</li>
								<li>了解網頁 SEO 優化的 html 結構與 meta 標籤。</li>
							</ul>
						</div>
						<div class="group" data-order='3' data-aos="fade-up">
							<h3>其他</h3>
							<ul>
								<li>熟悉使用 PhotoShop 與 Figma 進行網頁切版。</li>
								<li>具備良好溝通協調能力，能與專案設計師等相關人員協同執行專案。</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<section class="sec03">
				<div class="container" data-aos="flip-left">
					<h2>CREATION</h2>
					<div class="box" >
						<div class="row">
							<div class="photo">
								<div class="img">
									<img :src="`img/creation/${nowCreation[0].img}`" alt="">
								</div>
							</div>
							<div class="info">
								<h3>{{nowCreation[0].name}}</h3>
								<ul>
									<li v-for="(item,index) in nowCreation[0].detail" ::key="index">{{item}}</li>
								</ul>
								<p class="designer">設計師：{{nowCreation[0].designer}}</p>
								<div class="tags">
									<span v-for="(item,index) in nowCreation[0].tags" ::key="index">{{item}}</span>
								</div>
								<a :href="nowCreation[0].link" target="_blank" class="link">Web Link >>></a>
							</div>
						</div>
					</div>
					<ul class="creationList" >
						<li v-for="(item,index) in creationList" ::key="index" :data-num="index+1" @click="clickCreationList(index)" :class="item.select == 'true' ? 'select':''" >{{item.name}}</li>
					</ul>
				</div>
			</section>
			<section class="sec04">
				<div class="container">
					<h2>HOBBY</h2>
					<p>Photography <br> outdoor<br><br>
						<a href="https://vsco.co/yenzzzzzz/gallery" target="_blank"> >>> </a><br><br><br>
						&<br> CAT </p>

				</div>
			</section>
			<footer>
				<p>ヽ(=^ Φ ω Φ ^=)丿</p>

			</footer>
		</main>

	</div>

	<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.2/vue.global.js"></script> -->
	<!-- <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script> -->
	
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script> -->
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script type="module" src="js/main.js"></script>
</body>

</html>