
$color-main:#CEE070;

// $notoSans: 'Noto Sans TC', sans-serif;
// $notoSerif: 'Noto Serif TC', serif;

// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;350;400;500;700&family=Noto+Serif+TC:wght@300;400;500;600;700&display=swap');

img{
  width: 100%;
}
html,body{
  // font-family: $notoSans;
}

// *{ box-shadow: 0px 0px 0px 1px #ccc inset; }



main{
  display: block;
  max-width: 1440px;
  margin: 0 auto;
}
section{
  width: 100%;
  position: relative;
  img{
    width: 100%;
    &[data-show='pc']{  display: block; }
    &[data-show='pad']{  display: none; }
    &[data-show='mobile']{  display: none; }
    @include width_pcs{
      &[data-show='pc']{  display: block; }
      &[data-show='pad']{  display: none; }
      &[data-show='mobile']{  display: none; }
    }
    @include width_mobile{
      &[data-show='pc']{  display: none; }
      &[data-show='pad']{  display: none; }
      &[data-show='mobile']{  display: block; }
    }
  }
  .btn{
    width: calc( (575 / 1440 )* 100%);
    position: absolute;
    bottom: 108px; left: 50%;
    transform: translate(-50%,0);
    cursor: pointer;
    opacity: 1;
    transition: all 0.25s;
    &:hover{
      opacity: 0.9;
    }
    @include width_pcs{
      width: calc( (430 / 960 )* 100% );
      bottom: 70px;
    }
    @include width_mobile{
      width: calc( (280 / 320 )* 100% );
      bottom: 50px;
    }
  }
}




.pc_show{display: block;}
.mobile_show{display: none;}
@include width_pad{
  .pc_show{display: none;}
  .mobile_show{display: block;}
}

