@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap");
.header .logo {
  width: 320px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.header .logo:hover {
  opacity: 0.8;
}

.sect-price > .topic {
  font-family: 'Noto Sans TC', sans-serif;
}

.remark-and-expenses-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 1170px;
  padding: 0 20px 30px 20px;
  margin: 0 auto 0px;
}

@media screen and (max-width: 1199px) {
  .remark-and-expenses-group {
    max-width: 650px;
  }
}

.remark-and-expenses-group .row {
  width: 50%;
  min-height: 100%;
  padding: 0px 15px;
}

@media screen and (max-width: 1199px) {
  .remark-and-expenses-group .row {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}

.remark-and-expenses-group .card {
  width: 100%;
  height: 100%;
  border-radius: 7.5px;
  overflow: hidden;
  background-color: #FFECED;
}

.remark-and-expenses-group .title {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
  color: #fff;
  text-align: center;
  padding: 0.5em;
  background-color: #FFC1C4;
}

.remark-and-expenses-group .content {
  padding: 30px 20px 30px 30px;
  background-color: #FFECED;
}

.remark-and-expenses-group .content b {
  font-weight: bold;
}

.remark-and-expenses-group .content ol {
  list-style: none;
  counter-reset: my-counter;
}

.remark-and-expenses-group .content ol li {
  counter-increment: my-counter;
  text-indent: -1em;
  font-size: 15px;
  line-height: 1.5;
  color: #313131;
  margin-bottom: 1em;
}

.remark-and-expenses-group .content ol li::before {
  content: counter(my-counter) ". ";
}

.remark-and-expenses-group .content ol li:last-child {
  margin-bottom: 0;
}

.remark-and-expenses-group .card.expenses-card {
  background-color: #FFF2DF;
}

.remark-and-expenses-group .card.expenses-card .title {
  background-color: #FBAF3A;
}

.remark-and-expenses-group .card.expenses-card .content {
  background-color: #FFF2DF;
  padding: 30px 20px 30px 20px;
}

.remark-and-expenses-group .card.expenses-card .content .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.remark-and-expenses-group .card.expenses-card .content .box .block {
  background-color: #fff;
  padding: 12px 7px;
  width: calc( 50% - 7px);
  margin-bottom: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 7.5px;
}

@media screen and (max-width: 560px) {
  .remark-and-expenses-group .card.expenses-card .content .box .block {
    width: 100%;
  }
}

.remark-and-expenses-group .card.expenses-card .content .box .block p {
  font-size: 15px;
  line-height: 1.5;
}

.remark-and-expenses-group .card.expenses-card .content .box .block p:first-child {
  color: #FBAF3A;
}

.remark-and-expenses-group .card.expenses-card .content .box .block p:last-child {
  color: #313131;
  text-align: right;
  margin-left: auto;
}

.remark-and-expenses-group .card.expenses-card .content .box .block:nth-last-child(2), .remark-and-expenses-group .card.expenses-card .content .box .block:nth-last-child(1) {
  margin-bottom: 0;
}

@media screen and (max-width: 560px) {
  .remark-and-expenses-group .card.expenses-card .content .box .block:nth-last-child(2) {
    margin-bottom: 14px;
  }
}
/*# sourceMappingURL=main.css.map */