.section{
  // min-height: 600px;
  // border: 1px solid #000;
  // box-shadow: 0px 0px 0px 1px #000000 inset ;
  // padding: 50px 0;
  // min-height: 500px;
  // height: 100vh;
  box-sizing: border-box;
}

main.load{
  display: none;
}


h1{
  font-size: 50px;
}
.cta{
  background-color: $c_main;
  width: 10rem; 
  padding: 0.75rem;
  text-align: center;
  transition-duration: 0.25s;
  display: block;
  text-decoration: none;
  span.text{
    font-size: 1rem; line-height: 1;
    color: #fff;
    margin-right: 0.5rem;
  }
  span.arrow{
    display: inline-block;
    width: 3.5rem; line-height: 0.9rem;
    border-bottom: 1px solid #fff;
    transition-duration: 0.25s;
    &::after{
      content: '';
      display: block;
      width: 1rem; height: 1px;
      margin-left: auto;
      background-color: #fff;
      transform: rotate(45deg);
      transform-origin: bottom right;
      position: relative; left: -1px; bottom: -1px;
      border-radius: 50%;
    }
  }
  &:hover{
    cursor: pointer;
    span.arrow{
      width: 4rem;
      transition-duration: 0.25s;
    }
  }
  @include width_pad{
    width: 8rem;
    padding: 0.5rem;
    span.arrow{ 
      width: 2rem;
      &::after{
        width: 0.8rem;
      }
    }
    &:hover{
      span.arrow{ width: 2.5rem; }
    }
  }
}
.container{
  // background-color: #fff;
  // padding: 50px 0;
  z-index: 999;
  box-sizing: border-box;
}
.cornerTopRight,.cornerBottomRight{
  width: 2rem;
  position: absolute; 
  top: 1.5rem; right: 1.5rem;
  z-index: 99999;
  a{
    // border: 1px solid #000;
    display: block;
  }
}
.cornerBottomRight{
  top: auto; bottom: 1.5rem;
}

main[data-type="index"]{




  .section01,.section02,.section03{
      // container 共用  ---------------------------------------------------------------
    .container{
      max-width: 1586px;
      height: 100%; width: 100%;
      padding: 0 20px;
      position: relative;
      box-sizing: border-box;
      // box-shadow: 0px 0px 0px 1px #ff0000 inset;
      .content{
        position: absolute;
        top: 50vh; left: 50%; transform: translate(-50%,-50%);
        width: 100%; 
        padding: 2rem 3rem 2.5rem 1.5rem;
        @include width_pad{
          padding: 2rem 15px 2.5rem 15px;
        }
      }
      //--------------------
      @include fullW_520-768{
        // max-width: 840px;
      }
      @include full_520-768{
        // height: 630px;
        .content{
          top: 0;
          transform: translate(-50%,0%);
        }
        
      }
      //--------------------
      @include fullW_768-1024{
        max-width: 840px;
      }
      @include full_768-1024{
        height: 630px;
        .content{
          top: 0;
          transform: translate(-50%,0%);
        }
        
      } 
      //--------------------
      @include fullW_1024-1600{
        max-width: 1000px;
      }
      @include full_1024-1600{
        height: 720px;
        .content{
          top: 0;
          transform: translate(-50%,0%);
        }
        .areaGroup[data-type='none']{  display: none; }
        .organizer[data-type='none']{  display: none;  }
      }
      //--------------------
      @include fullW_over1600{
        max-width: 100%;
      }
      @include full_over1600{
        height: 1000px;
        .content{
          top: 0;
          transform: translate(-50%,0%);
        }
      }



        
      }
      // container end --------------------




    // 地區 ------------------------------------
    .areaGroup{
      display: flex;
      width: calc( 100% - 14.6rem );
      height: 2.8rem;
      *{
        // box-shadow: 0px 0px 0px 1px #000 inset;
      }
      .infoGroup{
        padding-right: 1.3rem;
        position: relative;
        display: flex;
        align-items: center;
        &:last-child{
          padding-right: 2rem;
        }
      }
      .circle{
        font-size: 1.3rem; line-height: 2.8rem;
        width: 2.8rem; height: 2.8rem;
        background-color: $c_main;
        text-align: center;
        color: #fff;
        font-weight: bold;
        border-radius: 50%;
        display: inline-block;
        transition-duration: 0.25s;
        flex-shrink: 0;
      }
      .info{
        width: 1px; height: 100%;
        overflow:hidden;
        position: relative;
        opacity:0;
        transition-duration:0.5s;
        left:0px; top: 0;
        .inner{
          font-size: 1rem;  line-height: 1.1;
          letter-spacing:0.1em;
          font-weight: bold;
          width: 330px;
          position: absolute;
          top: 50%; padding-left: 0px;
          transform: translateY(-50%);
          span{display: inline-block;}
        }
        &.infoT2{
          .inner{ width: 360px; }
        }
      }
      .infoGroup:hover{
        cursor: pointer;
        .circle{
          background-color: #000;
        }
        .info{
          opacity:1;
          width: 330px;
          padding-left: 10px;
          &.infoT2{
            width: 360px;
          }
          // position: relative;
        }
      }
      @include width_pad{
        width: calc( 100% - 11rem );
        .infoGroup{
          padding-right: 0.5rem;
        }
        .circle{
          font-size: 1.1rem; line-height: 2.5rem;
          width: 2.5rem; height: 2.5rem;
        }
        .info{
          .inner{
            font-size: 0.9rem;
            width: 190px;
          }
          &.infoT2{
            .inner{ width: 190px; }
          }
        }
        .infoGroup:hover{
          .info{
            width: 160px;
            &.infoT2{ width: 160px;}
          }
        }
      }
    }

    // 主辦單位 ------------------------------------
    .organizer{
      display: flex;
      justify-content: start;
      align-items: center;
      width: 100%;
      margin-top: 2rem;
      flex-wrap: wrap;
      span{
        font-size: 0.75rem; line-height: 1;
        letter-spacing:0.1em;
        display: inline-block;
        width: 6rem;
      }
      img{
        display: inline-block;
        &:nth-last-child(2){
          width: 100px;
          margin-right: 2.8rem;
        }
        &:nth-last-child(1){
          width: 170px;
        }
      }
    }

  }

  
  // sec01 ---------------------------------------
  .section01{
    background-color: #ccc;
    position: relative;
    // box-shadow: 0px 0px 0px 1px red inset;
    @include width_pcl{
      // max-width: 1200px;
      margin-left: auto; margin-right: auto;
    }
    *{
      // box-shadow: 0px 0px 0px 1px #000 inset;
      box-sizing: border-box;
    }
    .kv{
      // border: 1px solid #000;
      // height: 200px;
      background-color: #fff;
      // padding-top: 2rem;  //4.8
      padding-bottom: 3rem;

      @include width_pcl{
        // padding-top: 4rem;
        padding-bottom: 2.5rem;
      }
      // @include width_pc_1024{
      //   .imgBox{
      //     max-width: 840px;
      //     margin: 0 auto;
      //   }
      // }
    }
    .info{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      position: relative;
      @include width_pad{
        flex-direction: column;
        align-items: flex-start;
      }
      
      // 標題 ------------------------------------
      .title{
        // width: calc( ( 202 / 1586 ) *100% );
        // max-width: 202px;
        width: 10.1rem;
        margin-right: 4.5rem;
        @include width_pcl{
          width: 180px;
        }
        @include width_pc_1024{
          width: 130px;
        }
        @include width_pad{
          margin-bottom: 1.5rem;
          margin-right: 2rem;
        }
      }


      .logoLong{
        width: 3.6rem;
        position: absolute;
        right: 0.4rem;
        top: 2.7rem;
        @include width_pcl{
          width: 3rem;
          top: 3.2rem;
        }
      }
      
      
      
      
    }
  }


  // sec02 ---------------------------------------
  .section02,.section03{
    position: relative;
    &:after{
      content: '';
      background-image: url(../img/indexSec02_bg.png);
      background-size: cover;
      background-position: center center;
      width: 12rem;  height: 100%;
      display: block;
      position: absolute;
      top: 0; right: 0;
      @include width_pcs{  width: 10rem;  }
      @include width_pad{ width: 5rem; }
    }
    .container{
      .content{
        max-width: 1720px;
      }
      @include width_pcl{
        // max-width: 1720px;
        .content{
          padding-right: 22%;
        }
      }
      @include width_pcs{
        .content{ padding-right: 11rem; }
      }
      @include width_pad{
        .content{ padding-right: 6rem; }
      }
    }
    .block{
      max-width: 1100px;
      margin: 0 auto;
    }
    .areaGroup{
      .circle{
        background-color: #000;
      }
      .infoGroup:hover{
        .circle{ background-color: $c_main; }
      }
    }

    .newsGroup{
      width: 100%; max-width: 46.9rem;
      margin-left: auto;
      margin-bottom: 4vh;
      margin-top: 10vh;
      .row{
        display: flex;
        justify-content: space-between;
        margin-bottom: 5rem;
      }
      .col{
        width: 48%; max-width: 19.4rem;
      }
      h2{
        font-size: 2.5rem; line-height: 1;
        letter-spacing: 0.05em;
        font-weight: bold;
        margin-bottom: 1.5rem;
      }
      h3{
        font-size: 1.2rem; line-height: 1;
        font-weight: bold;
        margin-bottom: 0.7rem;
      }
      p{
        font-size: 0.8rem; line-height: 1.875;
        font-weight: lighter;
        text-align: justify;
      }
      a{
        color: $c_link;
      }
      @include width_pcs{
        margin-bottom: 5rem;
        margin-top: 3rem;
        // border: 1px solid #000;
        .row{
          flex-direction: column;
          margin-bottom: 3rem;
        }
        .col{
          width: 100%; max-width: 100%; margin-bottom: 1.5rem;
        }
        h2{
          font-size: 1.8rem; margin-bottom: 0.8rem;
        }
        h3{ font-size: 1rem; }
      }
      @include width_pad{
        margin-bottom: 1.5rem;
        margin-top: 1rem;
        .row{ margin-bottom: 1rem; }
      }
    }
    
    .cta{
      margin-left: auto;
    }

  }

  // sec03 ---------------------------------------
  .section03{
    position: relative;
    // background-image: url(../img/indexSec03_bg.png);
    // background-position: center 20vh;
    // background-repeat: no-repeat;
    // background-size: 100% auto;
    overflow:hidden;
    &:after{
      display: none;
    }
    .container{
      .content{
        padding-right: 0;
      }
    }
    .block{ margin: 0 auto;}
    .newsGroup{
      max-width: 30rem;
      position: relative;
      padding: 8vh 0 8vh 0;
      margin: 20vh auto 2.2rem auto;
      
      &:after{
        // border: 1px solid #ff0000;
        content: '';
        width: 105vw; height: 100%;
        display: block;
        position: absolute;
        top: 0px; left: 50%;
        transform: translateX(-50%);
        background-image: url(../img/indexSec03_bg.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
      }
      h2,h3,p{
        color: #fff;
      }
      h3{font-weight: normal;}
      .row{
        margin-bottom: 0;
        @include width_pcs{
          flex-direction:row;
        }
      }
      .col{
        max-width: 14rem;
        &:first-child{
          border-right: 1px solid #fff;
        }
      }
    }
  }

}




#map{
  width: 100%;
  height: 300px;
}


#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
  width: 12px; height: 12px;
  margin: 0px 0px 0px 0px;
  background-color: #fff;
  border: 1px solid #000;
}

#fp-nav ul li:hover a span, 
.fp-slidesNav ul li:hover a span {
  width: 12px;
  height: 12px;
  margin: 0px 0px 0px 0px;
  background-color: #000;
  box-shadow: 0px 0px 0px 1px #fff;
}

#fp-nav ul li:active a span, 
.fp-slidesNav ul li:active a span {
  width: 12px;
  height: 12px;
  margin: 0px 0px 0px 0px;
  background-color: #000;
  box-shadow: 0px 0px 0px 1px #fff;
}



#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li:hover a.active span {
  width: 12px;
  height: 12px;
  margin: 0px 0px 0px 0px;
  background-color: #000;
  box-shadow: 0px 0px 0px 1px #fff;
}



