
$w_pc:900px;

html{
  font-size: 20px;
  @include width_pc{ font-size: 19px; }
  @include width_pcs{ font-size: 18px; }
  @include width_pad{ font-size: 16px; }
  @include width_mobile{ font-size: 15px; }
}

main{
  // display: block;
  // width: 100%; max-width: 1440px;
  .title{
    width: 19.5rem;
    margin-right: auto; margin-left: auto;
    @include width_pad{ width: 15rem; }
    @include width_mobile{
      width: 11.6rem;
    }
    // font-size: 2.25rem; line-height: 1;
    // font-weight: bold;
    // letter-spacing: 0.36em;
    // padding: 1.1rem 1rem;
    // background-color: $c_main;
    // text-align: center;
    // width: 19.5rem;
    // color: #fff;
    // border-radius: 2.2rem;
    
  }
}


//section kv
//---------------------------------------------
section.seckv{
  background-image: url(../img/kv_bg.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 1440px auto;
  padding: 6.25rem 0 ;
  @include width_pcs{
    background-size: 140% auto;
    padding: 6rem 0 ;
  }
  @include width_pad{
    background-size: 130% auto;
    background-position: right top;
    padding: 3rem 0 5rem 0;
  }
  @include width_mobile{
    background-size: 112% auto;
  }
  .container{
    max-width: 1054px;  //1014
  }
  .top{
    margin-bottom: 2.5rem;
    img{
      display: block; margin-right: auto; margin-left: auto;
    }
    img:nth-child(1){
      max-width: 40.75rem;
      margin-bottom: 3.3em;
    }
    img:nth-child(2){
      max-width: 50.7rem;
    }
    @include width_pad{
      margin-bottom: 2.2rem;
      img:nth-child(1){ margin-bottom: 2.5rem; }
    }
    @include width_mobile{
      margin-bottom: 1.34rem;
      img:nth-child(1){
        max-width: 14.2rem;
        margin-bottom: 1.1rem;
      }
      img:nth-child(2){
        max-width: 17.6rem;
      }
    }
  }
  .middle{
    display: flex;
    .left{
      width: 50%;
      padding-top: 2rem;
      // max-width: 22.5rem;
      img{
        max-width: 22.5rem;
      }
    }
    .right{
      width: 50%;
      img{
        width: calc( 100% + 12rem );
        margin-left: -9.85rem;
        margin-right: -2.15rem;
      }
    }
    @include width_pcs{
      .left img{ max-width: 85%; }
      .right img{
        width: calc( 100% + 10.85rem );
        margin-right: -1rem;
      }
    }
    @include width_pad{
      .right img{
        width: calc( 100% + 6.85rem );
        margin-left: -5.85rem;
      }
    }
    @include width_mobile{
      flex-direction: column;
      .left{  
        width: 100%;  padding-top: 0rem; margin-bottom: 2.4rem;
        img{ max-width: 10.54rem; margin: 0 auto;}
      }
      .right{ width: 100%; }
      .right img{
        width: 16.4rem;
        margin-right: auto; margin-left: auto;
        position: relative;
        left: -20px;
      }
    }
  }
  .download{
    width: 50%;
    max-width: 22.5rem;
    position: relative;
    .group{
      position: absolute;
      top: -9.4rem;
      transform: translateY(-100%);
    }
    .btn{
      margin-top: 1.4rem;
      cursor: pointer;
      opacity: 1;
      transition-duration: 0.25s;
      &:hover{
        opacity: 0.8;
      }
      img{
        &.pc{ display: block; }
        &.mobile{ display: none; }
      }
    }
    @include width_pcs{
      width: 40%;
    }
    @include width_pad{
      width: 45%;
      .group{
        top: -7rem;
      }
    }
    @include width_mobile{
      width: 100%; max-width: 100%;
      .group{
        position: relative; top: 0; 
        width: 280px;
        margin-right: auto; margin-left: auto;
        transform: translateY(0%);
        margin-right: auto; margin-left: auto;
      }
      img{ width: 176px;  display: inline-block;}
      .btn{
        margin-top: 0;
        display: inline-block;
        padding-left: 3px;
        img{
          width: 92px;
          &.pc{ display: none; }
          &.mobile{ display: inline-block; }
        }
      }
    }
  }
}

//section 服務介紹
//---------------------------------------------
section.sec01{
  padding-bottom: 4.5rem;
  .container{
    max-width: 1010px;
    background-image: url(../img/sec01_bg.png);  //630
    background-position: right 155%;
    background-repeat: no-repeat;
    background-size: 31.5rem auto;
    // border: 1px solid #000;
    @include width_pc{
      background-size: 58% auto;
      background-position: right 100%;
      max-width: 900px;
    }
    @include width_pcs{
      max-width: 750px;
      background-size: 55% auto;
      background-position: right 45%;
    }
    @include width_pad{
      max-width: 500px;
      background-size: 52% auto;
      background-position: calc( 100% - 20px ) 1.9rem;
      // padding-bottom: 30rem;
    }
    @include width_mobile{
      max-width: 400px;
      background-position: calc( 100% - 20px ) 1.5rem;
      // padding-bottom: 25rem;
    }
  }
  .title{
    margin-bottom: 3rem; 
    @include width_pad{ margin-bottom: 4rem; }
  }
  p{
    width: calc( 100% + 30px );
    font-size: 1.1rem; line-height: 2.1;
    letter-spacing: 0.04rem;
    color: $c_p;
    // text-align: justify;
    @include width_pcs{ line-height: 2; }
    @include width_mobile{ font-size: 1rem; }
  }
  .innerTitle{
    margin: 0 auto 2rem auto;
    @include width_pad{
      width: 50%;
      margin: 0 auto 5rem 0;

    }
  }
  .row{
    display: flex;
    .col.left{
      width: 50%; max-width: 22.15rem;
    }
    @include width_pad{
      flex-direction: column;
      .col.left{
        width: 100%;max-width: 100%;
      }
    }
    @include width_mobile{

    }
  }
}


//section 影片簡介
//---------------------------------------------
section.sec02{
  background-image: url(../img/sec02_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 6rem 0 7rem 0;
  @include width_mobile{
    padding: 4rem 0 5rem 0;
  }
  .container{
    max-width: 992px;
    @include width_pc{ max-width: 900px; }
    @include width_pcs{ max-width: 750px; }
    // @include width_pad{ max-width: 500px; }
    // @include width_mobile{ max-width: 400px; }
  }
  .title{
    margin-bottom: 2.3rem;
  }
  .movie{
    border-radius: 1rem;
    width: 100%;
    height: 28.5rem;
    overflow: hidden;
    iframe{
      width: 100%;
      height: 28.5rem;
    }
    @include width_pc{ 
      height: 25rem;
      iframe{ height: 25rem; }
    }
    @include width_pcs{ 
      height: 22.5rem;
      iframe{ height: 22.5rem; }
    }
    @include width_mobile{ 
      height: 18rem;
      iframe{ height: 18rem; }
    }
  }
  
}


//section 特色介紹
//---------------------------------------------
section.sec03{
  padding: 7rem 0;
  @include width_mobile{
    padding: 5rem 0 ;
  }
  .title{ margin-bottom: 2.5rem; }
  .innerTitle{
    max-width: 25.15rem;
    margin: 0 auto;
    @include width_mobile{
      max-width: 15rem;
    }
  }
  .container{
    max-width: 1174px;
    // @include width_pad{ max-width: 500px; }
  }
  .row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 4rem auto 0 auto;
    .col{
      width:33%;
      max-width: 382px;
      margin-bottom: 1.6rem;
      &:last-child{margin-bottom: 0;}
    }
    @include width_pad{
      .col{ width: 49%; }
    }
    @include width_mobile{
      margin: 3rem auto 0 auto;
      max-width: 300px;
      .col{ width: 100%; }
    }
  }
}


footer{
  background-image: url(../img/footer_bg.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 1440px auto;
  background-color: #2285c5;
  padding: 10.5rem 0 4rem 0;
  @include width_pad{
    background-size: 960px auto;
  }
  @include width_mobile{
    background-size: 600px auto;
    padding: 5rem 0 2rem 0;
  }
  .container{
    max-width: 819px;
    @include width_pc{ max-width: 900px; }
    @include width_pcs{ max-width: 750px; }
    @include width_pad{ max-width: 500px; }
    @include width_mobile{ max-width: 400px; }
  }
  .title{
    max-width: 13.15rem;
    margin-left: 0;
    margin-bottom: 1.5rem;
    @include width_mobile{ max-width: 8rem; }
  }
  p{
    font-size: 1.8rem; line-height: 1.66;
    color: #eee;
    letter-spacing: 0.025em;
    font-weight:lighter;
    margin-bottom: 2rem;
    b{font-weight: bold; color: #fff; display: inline-block; }
    @include width_mobile{ 
      font-size: 1rem;
    }
  }
  .row{
    display: flex;
    align-items: center;
    margin-bottom: 2.3rem;
    flex-wrap: wrap;
    .logo{
      max-width: 8.7rem;
      margin-right: 1.5rem;
    }
    .qrcode{
      max-width: 8.75rem;
      margin-right: 1.5rem;
    }
    .download{
      max-width: 12.5rem; 
      a{display: block; opacity: 1; transition-duration: 0.25s;}
      a:nth-child(1){ margin-bottom: 0.5rem; max-width: 10.3rem;}
      a:nth-child(2){ max-width: 12.5rem; }
      a:hover{ opacity: 0.8; }
    }
    @include width_pad{
      .download{ margin-top: 2rem; }
    }
    @include width_mobile{
      .logo{width: 48%; margin-right: 4%;}
      .qrcode{width: 48%; margin-right: 0; } 
    }
  }
  .notice{
    p{
      font-size: 1.5rem; line-height: 1.6;
      color: #fff;
      letter-spacing: 0.025em;
      margin-bottom: 0.3rem;
    }
    span{ 
      font-size: 1rem; line-height: 2;
      color: #fff;
    }
  }
  .bottom_logo{
    margin-top: 4rem;
    max-width: 26.5rem;
    margin-right: auto; margin-left: auto;
    @include width_mobile{ max-width: 18rem; }
  }
}