// $font_family:'Segoe UI', Helvetica, Arial, '微軟正黑體', 'Microsoft JhengHei', 'Apple LiGothic', '蘋果儷中黑';
$font_family:'微軟正黑體','Microsoft JhengHei', 'Apple LiGothic', '蘋果儷中黑';
$font_bold:'Segoe UI semibold', Helvetica, Arial, '微軟正黑體', 'Microsoft JhengHei', 'Apple LiGothic', '蘋果儷中黑';

$container_width:1110px;

	@mixin container_style($width, $padding_width) {
		width: 100%;
		max-width: $width + $padding_width*2;
		margin: 0 auto;
		padding: 0 $padding_width;
//		border: 1px solid red;
	}

	$c_main:#01a69f;
	$c_p:#181818;














